.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 240px;
  }
}
